<!DOCTYPE html>
<head><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script></head>

    <body>
<div class="card" style="margin: 0 auto; height:800px; width:500px;">



<h1> {{statusString}} </h1>
<h1> {{statusDate}} </h1>
<div style="margin:0 auto">
<button  class="redBtn" (click)="callShutdown()" id="error">OFF</button>

</div>



    

    <div class="form-group" style="width: 400px; margin:0 auto; margin-bottom: 20px;  ">
        <label *ngIf="commandShow" for="torrent">Terminal command</label>
    <input class="form-control "  *ngIf="commandShow"    type="text"  [(ngModel)]="command">
    <div class="col text-center" style="margin-top: 20px;">
        <a  class="button" (click)="callCommand()">Send Command</a>
</div>
</div>

<div class="form-group" style="width: 400px; margin:0 auto">
    
    <label *ngIf="torrentShow" for="torrent">Torrent Magnet URL</label>
    <input *ngIf="torrentShow" name="torrent"  class="form-control" type="text"  [(ngModel)]="torrent">
    <div class="col text-center" style="margin-top: 20px;">
        <a  class="button" (click)="callTorrent()">Add Torrent</a>
       
    </div>
   
</div>


<div class="form-group" style="width: 400px; margin:0 auto">
  
    <div class="col text-center" style="margin-top: 20px;">
        <a  class="button" (click)="callMonkey()">Monkey test!</a>
    </div>
   </div>
</div>



<div class="form-group" style="width: 400px; margin:0 auto; margin-bottom: 20px;  ">

<button class="btn btn-anim-double-lines">Button 2</button>
</div>
</body>
<script></script>