<!DOCTYPE html>
<head><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script></head>

    <body>
<div class="card" style="margin: 0 auto;  width: 400px;">



<div style="margin:0 auto">



    <h4>Status: {{ statusString }} </h4>
<button  class="redBtn" (click)="callShutdown()" id="error">OFF</button>

</div>



    

    <div class="form-group" >
        <label *ngIf="commandShow" for="torrent">Terminal command</label>
    <input class="form-control "  *ngIf="commandShow"    type="text"  [(ngModel)]="command">
    <div *ngIf="commandSent" class="alert alert-success" role="alert">
        Command sent.
          </div>
    <div class="col text-center" style="margin-top: 20px;">
        <a  class="button" (click)="callCommand()">Send Command</a>
   
</div>
</div>

<div class="form-group" >
    
    <label *ngIf="torrentShow" for="torrent">Torrent Magnet URL</label>
    <input *ngIf="torrentShow" name="torrent"  class="form-control" type="text"  [(ngModel)]="torrent">
    <div *ngIf="torrentSent" class="alert alert-success" role="alert" >
      Add torrent signal sent.
          </div>
    <div class="col text-center" style="margin-top: 20px;">
        <a  class="button" (click)="callTorrent()">Add Torrent</a>
       
    </div>
   
</div>


<div class="form-group" >
  
    <div class="col text-center" style="margin-top: 20px;">
        <a  class="button" (click)="callMonkey()">Monkey test!</a>


        
    </div>
   </div>

   <ul class="list-inline d-flex justify-content-center">
    <li class="list-inline-item">Free space: {{diskSpaceUsable}} GB</li>
    <li class="list-inline-item">Total space: {{diskSpaceTotal}} GB</li>

  </ul>
 

</div>




</body>
<script></script>