
      <!-- Login Form -->

      <div class="wrapper fadeInDown">
        <div id="formContent">
      <form>
        <input type="text" id="username" class="fadeIn second" [(ngModel)]="username" name="username" placeholder="username">
        <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" name="password" placeholder="password">
        <input type="submit" (click)=handleLogin() class="fadeIn fourth" value="Log In">
      </form>

      <li><a routerLink="/status" routerLinkActive="active">First Component</a></li>
      </div>
      </div>