
      <!-- Login Form -->

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
 This page is made for my use exclusively
  </div>
  <div id="formContent">
 
      <form>
        <input style="margin-top: 30px;" type="text" id="username" class="fadeIn second" [(ngModel)]="username" name="username" placeholder="Username">
        <input type="password"  [(ngModel)]="password" class="fadeIn third" name="password" placeholder="Password">
        <input style="margin-bottom: 10px;" type="submit" (click)=handleLogin() class="fadeIn fourth" value="Log In">
      </form>


      </div>
      </div>